/*
.srpRefineSearch #accordion ul {
	list-style: none outside none;
	padding: 0;
}
.srpRefineSearch #accordion ul li a {
	background-color: #DDDDDD;
	border-radius: 4px;
	display: inline-block;
	line-height: 34px;
	margin-bottom: 4px;
	padding: 0 12px;
}
.srpRefineSearch #accordion ul li a:hover { background-color: #CFCFCF; }*/
